# Web/Data Handling
requests
PyMuPDF
pandas
streamlit
tqdm
plotly

# Machine Learning and NLP
torch
transformers
scikit-learn
textstat

# Google API
google-auth
google-api-python-client

# Pathway
pathway
"pathway[xpack-llm]"
